*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #282c34;
    color: #61dafb;
}
header{
    text-align: center;
    margin: 1rem;
    margin-top: 1rem;
}
table{
    margin: 0 auto;
    width: 48rem;
    height: 35rem;
    border: 0.6rem solid;
    border-image:linear-gradient(to right, red, orange);
    border-image-slice: 1;

    text-align: center;
    
}

footer{
    text-align: center;
}
