*{
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: #282c34;
}
header{
    color: #61dafb;
    text-align: center;
    margin: 1rem;
    margin-top: 1rem;
}
table{
    margin: 0 auto;
    width: 48rem;
    height: 35rem;
    border: 0.6rem solid rgb(231, 251, 255);
    text-align: center;
    border-radius: 5px;
}
tr{
    background: #000;
   
}
